In [86]:
import pandas as pd
import numpy as np

In [87]:
universes = pd.read_csv('./Data/univ_h.csv')
universes = universes.T
universes.columns = universes.iloc[0]
universes = universes.drop(universes.index[0])

In [88]:
adj_close = pd.read_csv('./Data/adjusted.csv', header=None)
adj_close.iloc[0, :] = [''.join(index.split()) for index in adj_close.iloc[0, :]]
adj_close.columns = adj_close.iloc[0, :]
adj_close = adj_close.drop(0)
adj_close['Date'] = pd.to_datetime(adj_close['Date'], format='%Y%m%d')

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [89]:
df_price = pd.DataFrame()

for year in universes.columns:
    df_year = adj_close[adj_close['Date'].dt.year == year].copy()
    ticker = universes[year].replace(0, np.nan).dropna().index
    df_year = df_year.loc[:, ['Date'] + list(ticker)]
    df_year.index = df_year['Date']
    df_year.drop('Date', axis=1, inplace=True)

    df_price = pd.concat([df_price, df_year])

df_price = df_price.apply(lambda x: pd.to_numeric(x))
df_price.fillna(0, inplace=True)

In [90]:
daily_returns = df_price.apply(lambda x: np.log(x / x.shift(1))).fillna(0)
volatility = daily_returns.rolling(window=21).std()
volatility = volatility.applymap(lambda x: 0.005 if x < 0.005 else x)

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [91]:
five_days_returns = df_price.apply(lambda x: np.log(x / x.shift(5))).fillna(0)

In [92]:
std_returns =  (five_days_returns / volatility).fillna(0)

In [93]:
idt_code = pd.read_csv('./Data/tickers.csv', index_col=0, header=None)
idt_code.columns = ['GIC_Code']
idt_code['GIC_Industry'] = idt_code['GIC_Code'].astype(str).str[:6]

In [94]:
# Merge the industry code with the returns DataFrame
std_returns_with_industry = std_returns.T.join(idt_code['GIC_Industry'])

industry_returns = std_returns_with_industry.groupby('GIC_Industry').mean().T

std_returns_with_industry = std_returns_with_industry.T.apply(
    lambda column: column[:-1] - industry_returns.loc[:, column[-1]] if column[-1] in industry_returns.columns else column[:-1]
)

In [95]:
d_returns = daily_returns.T.join(idt_code['GIC_Industry'])

industry_d_returns = d_returns.groupby('GIC_Industry').mean().T

d_returns_with_industry = d_returns.T.apply(
    lambda column: column[:-1] - industry_d_returns.loc[:, column[-1]] if column[-1] in industry_d_returns.columns else column[:-1]
)

In [96]:
import statsmodels.api as sm

t1_returns = d_returns_with_industry.shift(-1).fillna(0)

reg_coefficient = pd.DataFrame(index=std_returns_with_industry.index, columns=['beta', 'Rsquared'])

for i in range(len(std_returns_with_industry)):
    X = std_returns_with_industry.iloc[i, :]
    y = t1_returns.iloc[i, :]

    X = pd.to_numeric(X, errors='coerce')
    y = pd.to_numeric(y, errors='coerce')

    # X = sm.add_constant(X)
    model = sm.OLS(y, X).fit()

    # print(model.summary())

    beta = model.params[0]
    r_squared = model.rsquared

    reg_coefficient.iloc[i, 0] = beta
    reg_coefficient.iloc[i, 1] = r_squared

reg_coefficient = reg_coefficient.loc['20050103':, :].dropna()
reg_coefficient

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/regression/linear_model.py:1631: RuntimeWarning: invalid value encountered in subtract
  return self.model.wendog - self.model.predict(
/opt/anaconda3/lib/python3.9/site-packages/statsmodels/regression/linear_model.py:1717: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.uncentered_tss

                beta  Rsquared
2005-01-03 -0.000588  0.002017
2005-01-04  0.001365  0.029069
2005-01-05 -0.000746  0.015589
2005-01-06  0.000296   0.00407
2005-01-07 -0.000504  0.017454
...              ...       ...
2024-12-23  -0.00151  0.141757
2024-12-24  0.000054  0.000146
2024-12-26 -0.001425  0.105594
2024-12-27 -0.001663   0.05086
2024-12-30  0.000115  0.000307

[5016 rows x 2 columns]